:root {
    --primary-color: #32BC93;
    --secund-color: #1e7b5f;
    --third-color: yellow;
    --text-color-primary: #FFFFFF;
    --text-color-secondary: black;
    --font-title: 'Gloria Hallelujah', cursive ;
    --font-body: 'Nunito', sans-serif;
}

/* HEADER*/

body{
    background-color: var(--primary-color);
   padding: 0;
   margin: 0;
}

.container__header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container__header--title span{
    font-family: var(--font-title);
    font-size: 2rem;
    color: var(--text-color-primary);
    margin: 10px;
    padding: 10px;
}

.container__header--img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container__header--img img{
    height: 30px;
    width: 30px;
    margin: 8px;
}


/* BANNER*/

.container_banner{
    height: auto;
    padding: 40px;
    background-color: rgba(30, 123, 95, 0.5);
    border-radius: 15px;
    margin: 20px;

}

.banner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.banner div{
    font-family: var(--font-body);
}

.banner__description{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: var(--text-color-primary);
}

.banner__description span{
    font-family: var(--font-title);
    color: var(--third-color);
}

.banner__icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;

}

.banner__icons--link{
    text-decoration: none;
    color: var(--text-color-primary);
    padding: 10px;
}

.banner__icons--link:hover{
    text-decoration: none;
    color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 100%;
}

.banner__text  {
    margin-left: 20px;
    margin-bottom: 10px;
}

.banner__description--text{
    width: 100%;
    padding-bottom: 10px;
    margin-left: 20px;
    text-align: justify;
}

.banner__img{
    margin-left: 50px;
}

.banner__img img{
    border-radius: 100%;
    width: 150%;
    box-shadow: 0 0 0.5em var(--third-color);

}

.banner__btn{
    margin-left: 20px;
}

.banner__btn a{
    text-decoration: none;
    color: var(--text-color-secondary);
    background-color: var(--third-color);
    padding: 15px;
    border-radius: 8px;
}

.banner__btn a:hover{
    background-color: var(--text-color-primary);
}

h1{
    padding: 30px;
    margin: 20px;
}

/* MAIN */

.informations{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.informations__title{
    color: var(--text-color-primary);
    font-family: var(--font-title);

}

main{
    background-color: var(--secund-color);
    color: var(--text-color-primary);
    font-family: var(--font-body);
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;

}

main span{
    color: var(--third-color);
}

footer{
    display: flex;
    justify-content: center;
    margin: 40px;
}

/*Linha do Tempo*/

.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: var(--third-color);
    color: var(--text-color-secondary);
    max-height: 50px;
    z-index: 2;
  }
  
  .how-it-works.row .col-2 {
    align-self: stretch;
  }
  .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid var(--third-color);
    z-index: 1;
  }
  .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }
  
  
  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid var(--third-color);
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid var(--third-color);
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline .top-right {
    left: 50%;
    top: -50%;
  }
  .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }
  

@media screen and (max-width: 740px) {
    .banner__img img{
        display: none;
    }   
    
}

